.width-800px

  - if page
    = ContentHtmlGenerator.generate_full( page )
  - else
    .page-title Welcome
    %h3
      This is the help page, but to get help content some intitialisation needs to be done, go to the home page and click the button there.
