%div{data: {role: "collection-item-versions"}}
  = paginate collection_item_history, param_name: :page_ci, params: {anchor: :"history-t"}
  .page-summary-width-plus
    %hr

  = render partial: 'collection_items/collection_item_state', collection: collection_item_history

  = paginate collection_item_history, param_name: :page_ci, params: {anchor: :"history-tab"}