.page-title Collection
- if collection_items.empty?
  No pages yet
  - if current_user
    %br/
    You can add them via the new page menu item above
- else
  = paginate paginated_collection_items, param_name: "collection_item_summaries"
  .page-summary-width-plus
    %hr
  - paginated_collection_items.each do |ci|
    = render 'collection_items/list_summary', collection_item: ci
  = paginate paginated_collection_items, param_name: "collection_item_summaries"