.page-title Collection items
- if collection_items.empty?
  No collection items yet
  - if current_user.admin?
    %br/
    You can add them via the new collection item menu item in the menu at the top of the page
- else
  = paginate paginated_collection_items
  .page-summary-width-plus
    %hr
  - paginated_collection_items.each do |ci|
    = render 'collection_items/collection_item_summary', collection_item: ci
  = paginate paginated_collection_items