.page-title Collection
- if CollectionItem.count <= ENV['NUM_PAGES_TO_START'].to_i

  %h2 No collection items yet
  - if current_user.admin?
    %br/
    You can add them via the navbar's 'New > Collection Item'

- else
  = paginate paginated_collection_items
  .page-summary-width-plus
    %hr
  - paginated_collection_items.each do |ci|
    = render 'collection_items/collection_item_summary', collection_item: ci
  = paginate paginated_collection_items