.page-title Collection
- if page_summaries == []
  - if current_user
    No pages yet
    %br/
    You can add them via the new page menu item above
  - else
    No pages yet
- else
  = paginate page_summaries, param_name: "page_summaries"
  .page-summary-width-plus
    %hr
  - page_summaries.each do |pg|
    = render partial: 'pages/page_summary', locals: {page: pg.decorate}
  = paginate page_summaries, param_name: "page_summaries"