.parent-div

  -# TODO try to remove classes like 'float left'
  #comment-title.float-left
    Comments


  - if current_user.can_create?(Comment, for_page: page)
    = link_to("Add a comment", '#', id: 'comment-button', class: "btn btn-primary button-wider-width float right",
                                    :data => {:role => 'show-comment-form'})
    #comment-form.hiddenx
      .comment-form
        = render :partial => 'comments/comment_form'
    .clear
  - else
    .clear
    You need to
    %a{href: new_user_session_path}
      sign in
    to comment

  %hr.clear
  -if page.comments.present?
    %ul.no-bullets
      = render partial: 'comments/comment',
                        collection: page.comments.order(:approved,
                                                        :created_at).reverse_order
  - else
    No comments yet