.parent-div

  -# TODO try to remove classes like 'float left'
  %h2#comment-title.float-left
    Comments

  - if current_user
    #comment-button.float-right
      = link_to("Add a comment", '#', class: "btn btn-primary")
    #comment-form.hiddenx
      = page.new_comment_form_as_html(current_user)
  - else
    You need to
    %a{href: new_user_session_path}
      sign in
    to comment
  .clear

  %br
  -if page.comments.present?
    %ul.no-bullets
      = render partial: 'comments/comment',
                        collection: page.comments.order(:approved,
                                                        :created_at).reverse_order
  - else
    No comments yet