.parent-div

  -# TODO try to remove classes like 'float left'
  #comment-title.float-left
    Comments

  - if current_user.can_create?(Comment, for_commentable: commentable)
    - xxxx
    = link_to("Add a comment", '#', id: 'comment-button', class: "btn btn-primary button-wider-width float-right",
                                    :data => {:role => 'show-comment-form'}) if CommentAuthorizer.creatable_by?(current_user)
    #comment-form.hidden-entity
      = render 'comments/comment_form', commentable: commentable
    .clear
  - else
    .clear
    You need to
    = link_to 'sign in', new_user_session_path
    to comment

  %hr.clear
  -if commentable.comments.exists?
    %ul.no-bullets
      = render partial: 'comments/comment', collection: commentable.comments.order(:approved, created_at: :desc)
  - else
    No comments yet