- if comment.persisted? && (current_user.admin? || comment.approved? || comment.user.name == current_user.name)
  %li{'data-comment-idx' => comment_counter }
    .time-and-user
      = render 'users/user_and_time', user: comment.user.name, thing: comment
    .comment-content
      = comment.content.html_safe
      - unless comment.approved?
        %br
        %p.red This comment is awaiting approval
        - if current_user.admin?


  %hr