- if want_description != collection_item.description
  %h2  Description differs
  = compare_versions(collection_item.description, want_description).html_safe
  %br/
  = f.text_area :description
- else
  = f.hidden_field :description