%p While you were editing this collection item, another user changed the collection item.

%p Your changes were not saved, but you can still add them by making edits below and then saving.

%p Where there are differences between what you wanted and what the other user saved:
%ul
  %ul
    %li.del First, your unsaved changes are shown in green.
    %li.ins Second, the saved information (from the other user) is displayed in a dull red.
  %li Text in a description field that is the same for both you and the other user is shown in black.
  %li Please change the fields below to add in your previous changes.
  %li Then save.
