
- if current_user.can_unsubscribe?(subscribable)
  = link_to( 'Unsubscribe', url_for(id: subscribable, action: :unsubscribe), class: 'btn btn-primary button-width')
- if current_user.can_subscribe?(subscribable)
  = link_to( 'Subscribe', url_for(id: subscribable, action: :subscribe), class: 'btn btn-primary button-width')