.width-800px

  - if Page.find_by_title('Home')
    = ContentHtmlGenerator.generate_full( page )
  - else
    .page-title Welcome
    - if current_user.guest?
      %h3 Sign up and sign in to install editable pages for the home and help page
    - else
      %h3 To install editable text for the home and help pages, click the button below
      = link_to 'Install editable pages', install_pages_path, class: 'btn btn-primary button-spacing'
