.recent-page-font

  = render 'recent/column', title: 'New collection items', recent: recently_created_collection_items, time_method: :created_at, path_method: :collection_item_path

  = render 'recent/column', title: 'Recent collection item edits', recent: recently_edited_collection_items, time_method: :updated_at, path_method: :collection_item_path

  = render 'recent/column', title: 'Constrain comments to only for collection_items', recent: recently_created_comments, time_method: :collection_item_path
