.lesser-page-title Recent activity - pages

.recent-page-font

  = render 'recent/columns/column', title: 'Recently created pages', none_msg: 'No recent pages', recent: recently_created_pages, path_method: :page_path, time_method: :created_at

  = render 'recent/columns/column', title: 'Recent page edits', none_msg: 'No recent page edits', recent: recently_edited_pages,  path_method: :page_path, time_method: :updated_at

  = render 'recent/columns/comment_column', title: 'Pages with recent comments', none_msg: 'No recent comments on pages', recent: recently_created_page_comments, path_method: :page_path, time_method: :created_at
