.lesser-page-title Recent activity for resources

.recent-page-font

  = render 'recent/columns/column', title: 'Recently created resources', none_msg: 'No recent resources',     recent: recently_created_resources, path_method: :resource_path, time_method: :created_at

  = render 'recent/columns/column', title: 'Recent resource edits', none_msg: 'No recently edited resources', recent: recently_edited_resources,  path_method: :resource_path, time_method: :updated_at

  = render 'recent/columns/comment_column', title: 'Resources with recent comments', none_msg: 'No recent comments on resources', recent: recently_created_resource_comments, path_method: :resource_path, time_method: :created_at
