- @page_states = Kaminari.paginate_array(page.history.reverse).page().per(2)
%br/

= paginate @page_states
.page-summary-width-plus
  %hr
  - @page_states.each do |pg_st|
    = render partial: 'page_states/page_state', locals: {page_state: pg_st}
    %hr
  = paginate @page_states
