.std-width

  = ContentHtmlGenerator.generate_full(page).html_safe

  = render 'content/content_footer', content_source: page, edit_content_source_path: edit_collection_item_path(page)

  #comments.comments-spacer
    = render 'comments/comments_page_tab', commentable: page