.page-title Additional information
- if page_summaries == []
  No pages yet
  %br/
  - if current_user
    You can add them via the new page menu item above
- else
  = paginate page_summaries, param_name: "page_summaries"
  .page-summary-width-plus
    %hr
  - page_summaries.each do |pg|
    = render partial: 'pages/page_summary', locals: {page: pg.decorate}
  = paginate page_summaries, param_name: "page_summaries"