.page-title Other information
- if pages.empty?
  No additional information  yet
  - if current_user.admin?
    %br/
    You can add new additional informaton pages via the new page menu item in the menu at the top of the page
- else
  = paginate paginated_pages
  .page-summary-width-plus
    %hr
  - paginated_pages.each do |pg|
    = render 'pages/page_summary', page: pg
  = paginate paginated_pages