.page-title Pages
- if page.empty?
  No pages yet
  - if current_user.admin?
    %br/
    You can add new pages via the new page menu item in the menu at the top of the page
- else
  = paginate paginated_pages, param_name: "page_summaries"
  .page-summary-width-plus
    %hr
  - paginated_pages.each do |ci|
    = render 'pages/page_item_summary', collection_item: ci
  = paginate paginated_pages, param_name: "page_summaries"