%h1#top Tagged '#{params[:id]}'

= render 'layouts/categorised_or_tagged/tab_header'
= render 'layouts/categorised_or_tagged/tab_contents', collection_items: tagged_collection_items, pages: tagged_pages, resources: tagged_resources







