%li{'data-subscription-idx' => subscription_counter }
  .float-left
    = link_to "#{page.name}", page_path(page)
  .float-right
    - if current_user.can_delete?(Subscription.where(subscribable_id: page.id, user_id: user.id).first)
      = link_to fa_icon('trash-o'), unsubscribe_page_path(page),
                :data => { :confirm => 'Are you sure you want to remove this subscription? This cannot be undone.',
                           :role    => 'delete-subscription' },
                :method  => :delete

%hr.clear