%ul.no-bullets
  - if page.resources == []
    There are no resources associated with this page.
  - else
    - page.resources.each do |res|
      %li
        = render 'resources/resource_summary', resource: res
