.std-width

  = ContentHtmlGenerator.generate_full(resource)

  = render 'layouts/header_and_footers/content_footer', content_source: resource, edit_content_source_path: edit_resource_path(resource)

  #comments.comments-spacer
    = render 'comments/comments', commentable: resource