.container
  .page-title Resources
  - if @resources == []
    - if current_user
      No resources yet
      %br/
      You can add them and associate them with pages via the new resource menu item above
    - else
      No resources yet
  - else
    = paginate resources, param_name: "resources"
    .page-summary-width-plus
      %hr
    - resources.each do |r|
      = render 'resources/resource_summary', resource: r
    = paginate resources, param_name: "resources"