.container
  .page-title Resources
  - @resources = Resource.all.page(params[:id]).page(params[:page]).per(10)
  - if @resources == []
    - if current_user
      No resources yet
      %br/
      You can add them and associate them with pages via the new resource menu item above
    - else
      No resources yet
  - else
    = paginate @resources
    - @resources.each do |r|
      / TODO Change if titles are not mandated to be unique
      .search-result{data: {'resource-title' => r.title}}
        .float-right
          - if current_user && current_user.can_delete?(r)
            = link_to fa_icon('trash-o'), r,
                 :data   => { :confirm => 'Are you sure you want to remove this resource? This cannot be undone.' },
                 :method => :delete
        .summary-title
          %a{href: resource_path(r.id)}
            = r.title

        - get_from = r.file
        - get_from = r.url if r.url
        %a.resources-summary-width-and-margin{href: resource_path(r.id)}
          %img.width-150px{src: get_from}
        %br
        %hr
    = paginate @resources