.page-title-main= resource.name

= render 'layouts/resources_tabs'

#my-tab-content.tab-content

  #content-tab.tab-pane.active
    = render 'resources/resource_content'

  #history-tab.tab-pane
    = render 'resources/content_page_history'