// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

.navbar {
  height: 40px;
}
.navbar.navbar-inverse {
    background-color: #3D0B74;
}
.navbar .navbar-inner {
  background-color: #3D0B74;
  border-color: #3D0B74;
  background-image: none;
}

.navbar-inverse .nav > li > a {
  color: #ccc;
}

.navbar-inverse .brand { color: rgb(204, 114, 255); }