.recent-page-font { font-size: 11px; }
.recent-entries-col { width: 320px; }
.recent-entries-col-spacer {width: 80px; }
.recent-underlining-spacing { margin-top: 5px; margin-bottom: 5px}
.recent-name-col    { width: 250px; }
.recent-date-col    { width: 70px; }
.recent-date-color  { color: #aaa}