%span.categories

  - if categories == []
    .title-color.bold
      No categories
  - else
    .title-color.bold
      Categories
    - category_list(categories).each do |cc|
      = "#{cc}</br>".html_safe
