%span.tags
  - if categories == []
    = 'No categories'
  - else
    = render  partial: 'categories/category',
              collection: categories,
              spacer_template: 'categories/trail_spacer'