- if ! none
  %h2'Nothing is catgorised as #{params[:id]}'
- else
  %h1#top Categorised '#{params[:id]}'
  = render 'layouts/categorised_or_tagged/tab_header'
  = render 'layouts/categorised_or_tagged/tab_contents', collection_items: tagged_collection_items, pages: tagged_pages, resources: tagged_resources







