- if ! none
  %h2'Nothing is catgorised as #{params[:id]}'
- else
  %h1#top Categorised '#{params[:id]}'
  = render 'layouts/categorised_or_tagged/tab_header'
  = render 'layouts/categorised_or_tagged/tab_contents', collection_items: categorised_collection_items, pages: categorised_pages, resources: categorised_resources







