%ul#tabs.nav.nav-tabs{data: {tabs: 'tabs'}}

  %li

    %a{ href: '#collection-item-tab',     data: {toggle: 'tab'} } Collection Items (#{collection_item_count})

  %li

    %a{ href: '#page-tab',    data: {toggle: 'tab'} } Pages (#{page_count})

  %li.active

    %a{ href: '#resource-tab',     data: {toggle: 'tab'} } Resources (#{resource_count})