%ul#tabs.nav.nav-tabs{data: {tabs: 'tabs'}}
  %li.active
    %a{ href: '#collection-item-tab',     data: {toggle: 'tab'} } Collection Items
  %li
    %a{ href: '#pages--tab',    data: {toggle: 'tab'} } Informational Pages
  %li
    %a{ href: '#resources-tab',     data: {toggle: 'tab'} } Resources